.input-animated {
  max-width: 18rem;
  width: 100%;
  align-self: end;
  margin: 0 auto 2px;
  font: inherit;
  color: inherit;
  text-align: left;
  display: grid;
  gap: 6px;
  transition: margin 0.2s ease-out;

  &:has(&__field:focus),
  &:has(&__field:not(:placeholder-shown)) {
    margin-top: 1.375rem;
  }

  &__container {
    position: relative;
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 0.25rem;
    font-size: 1.125rem;
    color: var(--clr-input-a-label);
    cursor: text;
    letter-spacing: 1px;
    transition: 0.5s;
    text-transform: uppercase;
  }

  &__field:focus ~ &__label,
  &__field:not(:placeholder-shown) ~ &__label {
    font-size: 0.9375rem; // 15px
    color: var(--clr-input-a-label-focus);
    transform: translateY(-2.25rem);
    transition: 0.5s;
  }

  .input__icon {
    top: 50%;
    right: 0.25rem;
  }

  &__field {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.125rem;
    color: var(--clr-input-a-font);
    padding: 0.5rem 0;

    &:focus {
      outline: none;
    }
  }

  &__password {
    padding-right: 2.25rem;
  }

  &__error {
    width: fit-content;
    font-size: 0.875rem;
    color: var(--clr-input-error);
  }

  &__border {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5px;
    width: 100%;
    background: var(--clr-input-a-border);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: -100%;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to right,
        rgb(229, 33, 108),
        rgb(169, 49, 255),
        rgb(64, 140, 255),
        rgb(255, 234, 0),
        rgb(229, 33, 108)
      );
      animation: animate 1s linear infinite;
      transition: 0.5s;
    }
  }

  &__field:focus ~ &__border::before {
    left: 0;
    transition: 0.5s;
  }
}

@keyframes animate {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 20rem;
  }
}
