.husky
/src
/node_modules
/build

.env
.vscode/

.babelrc
.eslintcache
.eslintignore
eslint.config.js
.prettierrc
.prettierignore
.gitignore
.npmignore

tsconfig.json
tsconfig.tsbuildinfo
webpack.config.js